* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; 
}

a{
  text-decoration: none;
  color: black;
  font-family: 'Fredoka One', cursive;
  padding: 2px;
}
a:hover{
  border-radius: 5%;
  background-color: #f0e8e1;
  text-decoration: none;
  color: black;
  font-family: 'Fredoka One', cursive;
}
.container-loader{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 18rem;
 
}
.brand img{
  width: 180px;
  height: 80px;
}
.contenedor-productos{
  margin-bottom: 3rem;
  
}
.lista{
  border-radius: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 800;
}

.cart{
 float: right;
}
 .container-fluid{
  font-family: 'Fredoka One', cursive;
  color: #f15bb5;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  width: auto;
  background: #d9a7c7; 
background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  
background: linear-gradient(to right, #fffcdc, #d9a7c7); 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
} 
/* boton ver detalle */
.detalles, .irCarrito{
  color: black;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
}
.irCarrito{
  margin-right: 1rem;
}
.detalles, .irCarrito:hover{
  background-color: #c6ac8f;
  text-decoration: none;
  color: black;
 
}

.price{
  font-family: 'Montserrat', sans-serif; 
  color: black;
}
.buttons{
    font-Size: 60%;
    position: relative;
    border-Radius: 8%;
    color: white;
}
/* detalles del producto */
 .contenedorBotones{
    display: flex;
    flex-direction: row;
    justify-content:left; 
    margin-top: 1rem;
    font-Size: 30px;
    font-weight: 900;
    width: 30%; 
    color: black;
   background-color: #72DDF7;
} 
.imagenes{
  width: 340px;
  height: 320px;
  -webkit-box-shadow: -8px 17px 30px -4px #8c7a65;;
-moz-box-shadow: -8px 17px 30px -4px #c6ac8f;;
box-shadow: -8px 17px 30px -4px #c6ac8f;;
   padding: 2px;
  margin: 2rem; 
  border-radius: 5%;
}
.zoom {
  transition: transform .2s; 
}

.zoom:hover {
  transform: scale(1.1); 
}

 .contenedorBotones button{
   width: 80px;
  font-size: 15px;
  font-weight: 800;
  margin-right: 1rem;
  border: transparent;
  background-color: transparent;
   font-family: 'Fredoka One', cursive;
} 
.contador-result{
  color: black;
  font-weight: 500;
  font-size: 25px;
}
 .item{
  display: flex;
  background-color: #FDC5F5;
  font-family: 'Montserrat', sans-serif; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 80%;
  margin-top: 2rem;
  margin-left: 8.5rem;
  margin-bottom: 10rem;
  text-align: center;
  box-shadow: 1px -11px 18px -3px #c6ac8f;
-webkit-box-shadow: 1px -11px 18px -3px #c6ac8f;
-moz-box-shadow: 1px -11px 18px -3px #c6ac8f;
} 
.item-img{
  width: 300px;
  height: 320px;
  padding: 4px;
  border-radius: 5%;
}
.descrip{
  width: 100%;
  text-align: justify;
  padding: 10px;
  font-size: 20px;
  font-weight: 800;
  font-style: oblique;
}
.descrip span{
  font-style: normal;
}
#titulo-detail{
  font-family: 'Fredoka One', cursive;
  text-align: center;
  font-size: 35px;
}
.signos{

  font-size: 50px;
}
.irCarrito{
 background-color: #72DDF7;
  text-decoration: none;
}
/* footer */
#footer{
font-family: 'Montserrat', sans-serif; 
font-weight: 800;
color: black;
font-size: 20px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
justify-content: space-around; 
padding: 10px;
box-shadow: 1px -11px 18px -3px #c6ac8f;
-webkit-box-shadow: 1px -11px 18px -3px #c6ac8f;
-moz-box-shadow: 1px -11px 18px -3px #c6ac8f;
background-image: url(https://images.unsplash.com/photo-1519733949-b7dfe6268abe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
background-repeat: no-repeat;
 background-position-y: 65%; 
background-size: cover;
opacity: 90%;
width: 100%;
 height: 205px;
}
#footer ul li{
  list-style: none;
}
/*CARRITO*/
.total-productos{
  background: #d9a7c7; 
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  
  background: linear-gradient(to right, #fffcdc, #d9a7c7); 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.total-productos img{
  border-top: 5px solid #c6ac8f;;
}
.total-prod-info h3{
  font-size: 22px;
  color: black;
}
.total-prod-info {
 
  width:250px;
  height:190px;
  border-top: 5px solid #c6ac8f;;
  padding: 5px;
  background: #d9a7c7; 
  color: #f15bb5;
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  
  background: linear-gradient(to right, #fffcdc, #d9a7c7); 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
  font-family: 'Montserrat', sans-serif; 
}
.total-precio{
  font-size: 15px;
  text-align: center;
  padding: 15px;
  font-family: 'Montserrat', sans-serif; 
}

.total-botones{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.button-cart{
  width: 90px;
  height: 50px;
  font-size: 15px;
  font-weight: 800;
  margin-right: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;
  border: transparent;
  background-color:#c6ac8f;
  text-align: center;
  text-decoration: none;
   font-family: 'Fredoka One', cursive;
   border-radius: 10%;
}
.button-cart:hover{
  background-color: #f99bd7;
}
.elige-prod{
  color: black;
  height: 50rem;
  font-size: 30px;
  text-align: center;
  padding: 8px;
background-image: url(https://images.pexels.com/photos/1982485/pexels-photo-1982485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
background-repeat: no-repeat;
background-size: cover;
  text-decoration: none;
}
.ir-productos{
  position: relative;
  top: 20rem;
  padding: 2rem;
  background-color: gray;
  font-size: 40px;
  border-radius: 5%;
}
.form{
  min-height: 70vh;
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column; 
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background: #d9a7c7; 
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  
  background: linear-gradient(to right, #fffcdc, #d9a7c7); 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
  border-radius: 5%;
 margin-bottom: 12rem;
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.form input{
  margin-top: 0.8rem;
  text-align: center;
  width: 15rem;
  height: 2rem;
  
}
.enviar-info{
  margin-top: 1rem;
}
.id-compra{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center; 
  background-color: #72DDF7;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  height: 30rem;
  padding-top: 2rem;
  margin-bottom: 5rem;
  background: #d9a7c7; 
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  
  background: linear-gradient(to right, #fffcdc, #d9a7c7); 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
}
.id-compra span{
  color: #f15bb5;
  font-size: 30px;
}
.datos-compra{
  height: 40rem;
}
